---
layout: archive
---

{{ content }}


<div class="posts-header">
  <img src="/assets/images/header-image.webp" alt="Posts Header" style="width: 100%; max-height: 300px; object-fit: cover; margin-bottom: 1em;">

</div>

 <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}


